.main{
  font-family: 'PT Serif', serif;
  background-color:#000000;
  color: white;
  text-align: center;
  font-size: 30px;
}

.career{
  font-family: 'Catamaran', sans-serif;
  background-color:#000000;
  color: white;
  text-align: center;
  font-size: 30px;
}

.creative, .photojournal, .movierating{
  font-family: 'Special Elite', cursive;
  background-color:#000000;
  color: white;
  text-align: center;
  font-size: 30px;
}

.dp{
  height: 300px;
  width: 300px;
}

.outerframe, .outerframe1, .outerframe2, .outerframe3{
  width:100%;
  height:100%;
}

.resume{
  background-color:#ffffff;
  color: black;
  width: 230px;
  height: auto;
  border-radius: 30px;
}

.pj{
  background-color:#ffffff;
  color: black;
  width: 300px;
  height: auto;
  border-radius: 30px;
}

.mr{
  background-color:#ffffff;
  color: black;
  width: 300px;
  height: auto;
  border-radius: 30px
}

.hobby{
  background-color:#ffffff;
  color: black;
  width: 200px;
  height: auto;
  border-radius: 30px;

}

.coffee{
  background-color:#ffffff;
  color: black;
  width: 250px;
  height: auto;
  border-radius: 30px;

}

.options{
  display:inline-block;
}

.gist{
  height:auto;
  width: 70%;
  display:inline-block;
  text-align: left;
}
.info{
  height:auto;
  width: 70%;
  display:inline-block;
  text-align: left;
}

#menu{
  display:inline-block;
}

#cr1{
  display:inline-block;
}

#emp{
  width: auto;
  height: 30px;
  display:inline-block;
}

#photos{
  width: 350px;
  height: 350px;
  display:inline-block;
}

#movies{
    width: 400px;
    height: 400px;
    display:inline-block;
}
