.main{
  font-family: 'PT Serif', serif;
  background-color:#000000;
  color: white;
  text-align: center;
  font-size: 30px;
}

.career{
  font-family: 'Catamaran', sans-serif;
  background-color:#000000;
  color: white;
  text-align: center;
  font-size: 30px;
}

.creative, .photojournal, .movierating, .sketches, .movieslink{
  font-family: 'Special Elite', cursive;
  background-color:#000000;
  color: white;
  text-align: center;
  font-size: 30px;
}

#inside{
  font-size: 15px;
}

.demand:hover, .demand:focus {
  background-color: green;
}

.dp{
  height: 300px;
  width: 300px;
}

.outerframe, .outerframe1, .outerframe2, .outerframe3{
  width:100%;
  height:100%;
}

.resume{
  background-color:#ffffff;
  color: black;
  width: 200px;
  height: auto;
  border-radius: 30px;
}

.pj{
  background-color:#ffffff;
  color: black;
  width: 300px;
  height: auto;
  border-radius: 30px;
}

.mr{
  background-color:#ffffff;
  color: black;
  width: 300px;
  height: auto;
  border-radius: 30px
}

.sk{
  background-color:#ffffff;
  color: black;
  width: 300px;
  height: auto;
  border-radius: 30px
}

.hobby{
  background-color:#ffffff;
  color: black;
  width: 200px;
  height: auto;
  border-radius: 30px;

}

.coffee{
  background-color:#ffffff;
  color: black;
  width: 250px;
  height: auto;
  border-radius: 30px;
}

.mash{
  background-color:#ffffff;
  color: black;
  width: 600px;
  height: auto;
  border-radius: 30px;
}

.options{
  display:inline-block;
}

.gist{
  height:auto;
  width: 70%;
  display:inline-block;
  text-align: left;
}
.info{
  height:auto;
  width: 70%;
  display:inline-block;
  text-align: left;
}

#menu{
  display:inline-block;
}

#cr1{
  display:inline-block;
}

#emp{
  width: auto;
  height: 30px;
  display:inline-block;
}

#photos{
  width: 550px;
  height: 550px;
  display:inline-block;
}

#y2022, #y2021{
  display: block;
}

#movies{
    width: 400px;
    height: 400px;
    display:inline-block;
}

#sketch{
    width: 550px;
    height: 550px;
    display:inline-block;
}

* {
  box-sizing: border-box;
}

#cap{
  font-size: 15px;
}

#send{
  width: 20%;
  border-radius: 30px;
  padding: 12px 20px 12px 20px;
  background-color: aqua;
}

#movieondemand{
  border-radius: 30px;
  width: 25%;
  font-size: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myInputyear{
  border-radius: 55px;
  width: 20%;
  font-size: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
#myInputlang{
  border-radius: 55px;
  width: 20%;
  font-size: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myInputmovie{
  border-radius: 55px;
  width: 30%;
  font-size: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myInputprint{
  border-radius: 55px;
  width: 20%;
  font-size: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myInputrate {
  border-radius: 55px;
  width: 20%;
  font-size: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header{
  background-color: #D22B2B;
}
#myTable td:hover {
  background-color: #7F00FF;
}


a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

th {
  background: red;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
