body {
  font-family: 'PT Serif', serif;
  background-color:#000000;
  color: white;
  text-align: center;
}

.dp{
  height: 100px;
  width: 100px;
}

.outerframe{
  width:100%;
  height:100%;
}

#Photojournal{
font-family: 'Special Elite', cursive;
}
